exportPattern("^[[:alpha:]]+")
S3method("+",gg)
S3method(print,ggtern)
S3method(print,ggplot)
import(ggplot2)
import(grid)
import(gtable)
import(plyr)
import(proto)
import(reshape2)
import(scales)
import(polyclip)
importFrom(sp,point.in.polygon)
importFrom("MASS","kde2d")
importFrom("MASS","bandwidth.nrd")
importFrom("grDevices", "dev.off")
importFrom("graphics", "par")
importFrom("stats", "dnorm", "na.omit", "qchisq")
importFrom("utils", "capture.output", "packageVersion")
export(unit)
export("%+%")
export("%+replace%")
export(arrow)
export(element_ternary)
export(ggplot_build)
export(ggtern)
export(ifthenelse)
export(limit_tern)
export(limits_tern)
export(tern_limit)
export(tern_limits)
export(percent_atomic)
export(percent_custom)
export(percent_weight)
export(scale_L_continuous)
export(scale_R_continuous)
export(scale_T_continuous)
export(stat_density_tern)
export(geom_density_tern)
export(geom_interpolate_tern)
export(stat_interpolate_tern)
export(geom_smooth)
export(geom_confidence)
export(geom_errorbarT)
export(geom_errorbarL)
export(geom_errorbarR)
export(geom_polygon_tern)
export(theme_noarrows)
export(theme_showarrows)
export(theme_hidearrows)
export(theme_tern_bw)
export(theme_tern_gray)
export(theme_tern_rgbg)
export(theme_tern_rgbw)
export(theme_minimal)
export(theme_classic)
export(theme_bw)
export(theme_gray)
export(theme_rgbw)
export(theme_rgbg)
export(theme_rgb)
export(theme_noticks)
export(theme_hideticks)
export(theme_showticks)
export(theme_noprimary)
export(theme_showprimary)
export(theme_hideprimary)
export(theme_nosecondary)
export(theme_showsecondary)
export(theme_hidesecondary)
export(theme_ticksinside)
export(theme_ticksoutside)
export(theme_showtitles)
export(theme_hidetitles)
export(theme_notitles)
export(theme_showlabels)
export(theme_hidelabels)
export(theme_nolabels)
export(theme_counterclockwise)
export(theme_anticlockwise)
export(theme_clockwise)
export(theme_showgrid)
export(theme_hidegrid)
export(theme_showgrid_major)
export(theme_showgrid_minor)
export(theme_hidegrid_major)
export(theme_hidegrid_minor)
export(theme_arrowsmall)
export(theme_arrowshort)
export(theme_arrownormal)
export(theme_arrowdefault)
export(theme_arrowlarge)
export(theme_arrowlong)
export(theme_arrowcustomlength)
export(theme_arrowlength)
export(theme_novar_tern)
export(weight_percent)
export(atomic_percent)
export(custom_percent)
export(point.in.sequence)
export(ggsave)
export(polyclip)
