exportPattern("^[[:alpha:]]+")
importFrom(sp,point.in.polygon)
importFrom(grid,arrow)
importFrom(grid,grob)
importFrom(grid,unit)
importFrom(grid,grid.newpage)
importFrom(grid,polygonGrob)
importFrom(grid,textGrob)
importFrom(grid,segmentsGrob)
importFrom(grid,gpar)
importFrom(grid,gTree)
importFrom(grid,gList)
importFrom(grid,grid.draw)
importFrom(grid,seekViewport)
importFrom(grid,pushViewport)
importFrom(grid,upViewport)
importFrom(reshape,rename)
importFrom(reshape,rescaler)
importFrom(proto,proto)
importFrom(scales,alpha)
importFrom(utils,assignInNamespace)
importFrom(MASS,kde2d)
export(arrow)
export(arrow_label_formatter)
export(atomic_percent)
export(calc_element_plot)
export(custom_percent)
export(element_ternary)
export(sink_density)
export(remove_outside)
export(find_global)
export(geom_smooth)
export(get_last_coord)
export(get_tern_extremes)
export(ggplot_build)
export(ggtern)
export(trytransform)
export(ifthenelse)
export(limit_tern)
export(limits_tern)
export(percent_atomic)
export(percent_custom)
export(percent_weight)
export(scale_L_continuous)
export(scale_R_continuous)
export(scale_T_continuous)
export(set_last_coord)
export(stat_density2d)
export(strip_unapproved)
export(tern_limit)
export(tern_limits)
export(theme_noarrows)
export(theme_showarrows)
export(theme_tern_bw)
export(theme_tern_gray)
export(theme_tern_rgbg)
export(theme_tern_rgbw)
export(transform_tern_to_cart)
export(weight_percent)
