exportPattern("^[[:alpha:]]+")
S3method("+",gg)
import(ggplot2)
import(grid)
import(gtable)
import(plyr)
import(proto)
import(reshape2)
import(scales)
importFrom(sp,point.in.polygon)
importFrom(MASS,kde2d)
importFrom(MASS,bandwidth.nrd)
export("%+%")
export("%+replace%")
export(arrow)
export(arrow_label_formatter)
export(atomic_percent)
export(calc_element_plot)
export(custom_percent)
export(element_ternary)
export(sink_density)
export(remove_outside)
export(find_global)
export(geom_smooth)
export(get_last_coord)
export(get_tern_extremes)
export(ggplot_build)
export(ggtern)
export(trytransform)
export(ifthenelse)
export(limit_tern)
export(limits_tern)
export(percent_atomic)
export(percent_custom)
export(percent_weight)
export(scale_L_continuous)
export(scale_R_continuous)
export(scale_T_continuous)
export(set_last_coord)
export(stat_density2d)
export(strip_unapproved)
export(tern_limit)
export(tern_limits)
export(theme_noarrows)
export(theme_showarrows)
export(theme_tern_bw)
export(theme_tern_gray)
export(theme_tern_rgbg)
export(theme_tern_rgbw)
export(transform_tern_to_cart)
export(weight_percent)
